#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html>
	<head>
		#parse('_pagelet/header.html')
		<title>修改密码</title>
		<link rel='stylesheet' type='text/css' media='screen' href='${conf.html.virtualPath}public/assets/css/iframe.css' />
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<ol class='breadcrumb'>
						<li class='active'><i class='fa fa-home fa-fw'></i> 用户中心</li>
						<li class='active'><a href='javascript:location.reload();'>修改密码</a></li>
					</ol>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<form class='form-horizontal' id='frm' role='form'
								onsubmit='return false;' data-url='changePwd'>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label'
										for='frm_user_pass_old'><span class='olx-form-required'>*</span>原登录密码</label>
									<div class='col-sm-4'>
										<input type='password' class='form-control' name='old_pass'
											id='frm_user_pass_old' placeholder='原登录密码'>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label'
										for='frm_user_pass'><span class='olx-form-required'>*</span>新登录密码</label>
									<div class='col-sm-4'>
										<input type='password' class='form-control' name='user_pass'
											id='frm_user_pass' placeholder='新登录密码'>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label'
										for='frm_user_pass_2'><span class='olx-form-required'>*</span>确认登录密码</label>
									<div class='col-sm-4'>
										<input type='password' class='form-control'
											id='frm_user_pass_2' placeholder='确认登录密码'>
									</div>
								</div>
								<div class='form-group'>
									<div class='col-sm-offset-2 col-sm-4'>
										<button id='frm_btn_submit' type='button'
											class='btn btn-primary'>修改密码</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('_pagelet/js.html')
		<script type='text/javascript'
			src='${conf.html.virtualPath}public/assets/js/iframe.js'></script>
		<script>
			$(function(){
				$('#frm_btn_submit').click(
					function(){
						if ($('#frm_user_pass').val() !== $('#frm_user_pass_2').val()){
							return alert('两次输入的密码不一致');
						}
						$.ajax({
							url: '${conf.html.virtualPath}i/changePwd',
							type: 'POST',
							dataType: 'JSON',
							data: { data: JSON.stringify($('#frm').serializeObjectForm()) },
							success: function(data){
								if (data.success)
									return alert('操作成功');
								alert(data.msg[0]);
							},
							error: function(){
								alert(arguments[2]);
							}
						});
					});
			});
		</script>
	</body>
</html>